{% extends "base.html" %}

{% block content %}
    <p class="lead">운동 기록을 위해서는 로그인해야 합니다.</p>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">{{ form.username.label }}</label>
            <input class="form-control {% if form.errors %}is-invalid{% endif %}" id="username"
                   aria-describedby="usernameHelp" name="username">
            <div class="invalid-feedback">
                사용자 이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.
            </div>
        </div>
        <div class="form-group">
            <label for="password1">{{ form.password.label }}</label>
            <input type="password" class="form-control {% if form.errors %}is-invalid{% endif %}" id="password1"
                   name="password">
            <div class="invalid-feedback">
                사용자 이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">로그인</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}